body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: lightgray;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#title {
  font-size: 77px;
  font-family: Arial, Helvetica, sans-serif;
}
/* Test */

/* input[type=text] {
  border: 1px dotted #999;
  border-radius: 0;

  -webkit-appearance: none;
} */
input {
  width: 100%;
  border: 1px;
  border-radius: 3px;
  padding: 6px 20px;
  box-sizing: border-box;
  margin-bottom: 15px;
}
form {
  width: 320px;
  padding: 40px 20px;
  box-sizing: border-box;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#home-page {
  font-family: "Fascinate", cursive;
  font-size: 87px;
}

/* Test */

#ball {
  font-family: "Courier New", Courier, monospace;
  font-size: 75px;
}


/* .jumping-ball {
  display: inline-flex;
  align-content: space-around;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  padding: 0;
  animation: heyjump 0.7s infinite;
  font-size: 55px;
} */
.jumping-ball:nth-child(1),
.jumping-ball:nth-child(2),
.jumping-ball:nth-child(3),
.jumping-ball:nth-child(4),
.jumping-ball:nth-child(5),
.jumping-ball:nth-child(6),
.jumping-ball:nth-child(7),
.jumping-ball:nth-child(8),
.jumping-ball:nth-child(9) {
  width: 50px;
  height: 50px;
  display: inline-flex;
  animation: heyjump .9s ease-in infinite;
  font-size: 45px;
}

.jumping-ball:nth-child(2) {
  animation-delay: .10s;
}
.jumping-ball:nth-child(3) {
  animation-delay: .20s;
}
.jumping-ball:nth-child(4) {
  animation-delay: .30s;
}
.jumping-ball:nth-child(5) {
  animation-delay: .40s;
}
.jumping-ball:nth-child(6) {
  animation-delay: .50s;
}
.jumping-ball:nth-child(7) {
  animation-delay: .60s;
}
.jumping-ball:nth-child(8) {
  animation-delay: .70s;
}
.jumping-ball:nth-child(9) {
  animation-delay: .80s;
}
.wrapper {
  width: 500px;
  margin: 0 auto;
}

hr {
  margin: 0;
  padding: 0;
}

@keyframes heyjump {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-135px);
  }
  100% {
    transform: translateY(0px);
  }
}

h1 {
  font-family: 'Fascinate', cursive;
  text-align: center;
}

#align {
  visibility: hidden;
}

.section {
  position: absolute;
  width: 100%;
  height: 150%;
  display: flex;
  align-self: center;
  justify-content: center;
  overflow: hidden;
}

.section h1 {
  text-align: center;
  font-size: 6rem;
  font-family: "Fascinate", cursive;
  padding: 10px;
  margin: 15px;
  z-index: 10;
  opacity: 0.8;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.color-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  width: 100%;
  height: 100vh;
  opacity: 0.5;
}
/* Home */
.name {
  position: relative;
  top: 2em;
  
}

#text {
  color: #FA8320;
  text-decoration: underline;
}

.court-details {
  display: flex;
  text-align: center;
  flex-direction: column;
  
}
.buttons {
  display: inline;
}

/* .jersey {
  display: inline;
} */

.player-list-conatiner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.image {
  align-self: center;
}

/* #background {
  background: url('./giphy.gif');
} */
/* .carousel {
  width: 2000p
} */
